* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #080A0D;
    color: #F5F7F8;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #080A0D;
    border: 1px solid white;
    border-radius: 24px;
    margin: 15px 30px;
}

.logo img {
    width: 120px;
    height: auto;
    display: block;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    position: relative;
    color: #A4AAB3;
    text-decoration: none;
    transition: 0.3s;
    padding: 5px 8px;
    
}

nav a:hover {
    color: #B7FF00;
    
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 2px;
    background-color: #B7FF00;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 80%;
}

.join-btn {
    background-color: #B7FF00;
    color: #080A0D;
    padding: 11px 22px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.join-btn:hover {
    background-color: #8FCC00;
    color: #fafcff;
    transform: translateY(-2px);
}

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    background-color: #080A0D;
    align-items: flex-start;
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 55%;
}

.hero-label {
    font-size: 40px;
    font-weight: bold;
    color: #B7FF00;
    margin-bottom: 5px;
}

.hero-section h1 {
    font-size: 70px;
    line-height: 0.95;
    margin: 20px 0;
    color: #F5F7F8;
}

.hero-section p {
    max-width: 550px;
    line-height: 1.7;
    font-size: 16px;
    margin-bottom: 25px;
    color: #A4AAB3;
}

.hero-buttons button {
    background-color: #B7FF00;
    color: #080A0D;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-buttons button:hover {
    background-color: #8FCC00;
    transform: translateY(-3px);
}

.pry-btn {
    background-color:#B7FF00;
    color: #080A0D;
}

.pry-btn:hover {
    background-color: #8FCC00;
}

.sec-btn {
    background-color: transparent;
    color: #F5F7F8;
    border: 1px solid #A4AAB3;
}

.sec-btn:hover {
    background-color: #F5F7F8;
    color: #080A0D;
}

.hero-stats {
    display: flex;
    gap: 15px;
    padding: 10px 15px;
    margin: 10px;
}

.stats {
    flex-direction: column;
    display: flex;
}

.st {
    color: #B7FF00;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 15px;
    margin: 0 10px;
}

.sts {
    color: #A4AAB3;
}

.hero-image img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    display: block;
    border-radius: 24px;
}

.services-section {
    background-color: #101317;
    padding: 80px 60px;
    color: #F5F7F8;
}

.section-label {
    color: #B7FF00;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.services-section h2 {
    color: #F5F7F8;
    font-size: 48px;
    margin: 15px 0;
}

.services-section > p {
    max-width: 600px;
    color: #A4AAB3;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
}

.services-grid p {
    color: #A4AAB3;
}

.services-grid h3 {
    color: #F5F7F8;
    font-weight: bold;
}

.services-card {
    background-color: #14171C;
    padding: 30px;
    border-radius: 16px;
    text-align: left;
    border: 1px solid #282D34;
}

.why-section {
    background-color: #080A0D;
    padding: 80px 60px;
    color: #F5F7F8;
}

.section-label {
    font-size: 14px;
    font-weight: bold;
    color: #B7FF00;
}

.why-section h2 {
    margin: 15px 0px;
    font-size: 24px;
    color: #F5F7F8;
}

.why-section > p {
    max-width: 600px;
    color: #A4AAB3;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.why-grid {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 20px;
}

.why-card {
    background-color: #14171C;
    padding: 30px;
    border: 1px solid #282D34;
    border-radius: 16px;
}

.why-card h3 {
    color: #F5F7F8;
    margin-bottom: 10px;
}

.why-card p {
    color: #A4AAB3;
    line-height: 1.6;
}

.membership-section {
    padding: 80px 60px;
    background-color: #101317;
}

.section-members {
    color: #B7FF00;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.membership-section h2 {
    color: #F5F7F8;
    font-size: 48px;
    margin: 15px 0;
}

.membership-section > p {
    max-width: 600px;
    color: #A4AAB3;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.plans-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
}

.plan-card {
    background-color: #14171C;
    padding: 30px;
    border: 1px solid #282D34;
    border-radius: 16px;
}

.plan-card h3 {
    font-size: 14px;
    padding: 15px 0;
}

.price {
    color: #F5F7F8;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}

.price span {
    color: #A4AAB3;
    font-size: 14px;
}

.plan-features {
    max-width: 600px;
    color: #A4AAB3;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.plan-card button {
    background-color: #B7FF00;
    color: #080A0D;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease ;
}

.plan-card button:hover {
    background-color: #8FCC00;
    transform: translateY(-3px);
}

.coaches-section {
    background-color: #080A0D;
    padding: 80px 60px;
    color: #F5F7F8;
}

.coach-section {
    font-size: 14px;
    font-weight: bold;
    color: #B7FF00;
}

.coaches-section > p {
    padding: 15px 0;
}

.coaches-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
}

.coach-card {
    background-color: #14171C;
    padding: 30px 25px;
    border: 1px solid #282D34;
    border-radius: 16px;
    display: flex;
    gap: 30px;
}

.image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    justify-content: space-between;
}

.coach-text {
    color: #A4AAB3;
    padding: 10px 25px;
    margin: 10px 15px;
    justify-content: space-between;
}

.coach-text span {
    color: #F5F7F8;
    font-size: 25px;
    gap: 10px;
}

.coach-text > h3 {
    padding: 10px 0;
}

.CTA-banner {
    background-color: #14171C;
    display: flex;
    padding: 80px 60px;
    gap: 50px;
    justify-content: space-between;
}

.CTA-img {
    width: 120px;
    height: auto;
    display: block;
}

.CTA {
    color: #A4AAB3;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 15px;
    max-width: 600px;
}

.CTA > h3 {
    color: #B7FF00;
}

.CTA-btn {
    padding: 12px 24px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        background 0.3s ease,
        color 0.3s ease;
}

.CTA-btn:hover {
    transform: translateY(-3px);
    border-color: #B7FF00;
    color: #B7FF00;
    background-color: #FFFFFF;
    box-shadow:
        0 10px 20px rgba(11, 15, 36, 0.08);
}

.slide {
    color: #A4AAB3;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 15px;
    max-width: 600px;
}

.cl {
    color: #B7FF00;
    font-weight: bold;
}